
.vs
.cache

# cmake.gitignore
CMakeLists.txt.user
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps

/build
/compile_commands.json
/out
/Doxygen/Build
/Doxygen/html
/doxygen/latex

Source\Engine\Export.h


